<ag-grid-angular
  #agGrid
  style="width: 100%; height: 100%"
  id="myGrid"
  class="ag-theme-alpine"
  [modules]="modules"
  [columnDefs]="columnDefs"
  [suppressAggFuncInHeader]="true"
  [animateRows]="true"
  [rowGroupPanelShow]="rowGroupPanelShow"
  [pivotPanelShow]="pivotPanelShow"
  [getRowNodeId]="getRowNodeId"
  [defaultColDef]="defaultColDef"
  [autoGroupColumnDef]="autoGroupColumnDef"
  [rowData]="rowData"
  [sideBar]="sideBar"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
></ag-grid-angular>
